In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('resources/cities.csv')

In [4]:
df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,mataura,-46.1927,168.8643,14.62,80,100,2.31,NZ,1673898360
1,1,bonavista,48.6499,-53.1147,1.15,98,100,10.73,CA,1673898361
2,2,mamedkala,42.1677,48.1199,1.59,80,49,2.43,RU,1673898362
3,3,mahebourg,-20.4081,57.7000,26.25,78,75,5.14,MU,1673898363
4,4,calabozo,8.9242,-67.4293,35.81,25,9,2.02,VE,1673898364

In [5]:
df.to_html('cities.html',index=False)